html{
    width: 100%;
    height: 120%;
   
}
body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/* 总页面div */
.MainDiv00{
    width: 100%;
    height: 100%;
}
/* 头部 */
.TopTitleBackground{
    background-color:rgb(228,205,207);
    height: 5%;
}
.txt01{
    margin-left: 1.5rem;
    line-height:2.5rem;
    /* font-size: 0.25rem; */
    float: left;
}
.txt02{
    margin-right: 3%;
    float: right;
    line-height: 2.5rem;
}
/* 内容 */
.MainTxT{
    width: 100%;
    height: 95%;
}
.MainTxT_01{
    width: 100%;
    height: 25%;
    background-image: url(../images/bg16_9.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}
.MainTxT_02{
    width: 100%;
    height: 100%;
    background-color: #E2D8DB;
}
.MainTxT_Top{
    width: 80%;
    position:absolute;
    top: 70%;
    left: 10%;
}
.MainTxT_TopBg{
    width: 100px;
    height: 100px;
    background-image: url(../images/d.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10%;
    float: left;
}
.MainTxT_TopTxT{
    position:absolute;
    font-size: 1.5rem;
    font-family:'Courier New', Courier, monospace;
    top: 60%;
    left: 40%;
}
.MainTxT_body01{
    width: 100%;
    height: 15%;    
}
.MainTxT_body02{
    width: 80%;
    margin: auto;
    font-size: 0.85rem;
    border: 4px rgb(192,107,111) solid;
    line-height: 0.95rem;
}
.MainTxT_body03{
    width: 85%;
    margin: auto;
    height: 600px;
}
.cent{
    text-align: center
}

/* 更新日志 */
.Changelog{
    width: 100%;
    height: 625px;
}
.Changelog p{
    width: 70%;
    margin: auto;
}
.p1{
    padding: 2rem 0 2rem 0;
    text-align: center;
}
.tmptxt{
    text-align: center;
}
